<body class="body">
<br>
<div class="Titre">
<h1>Editing origin</h1>
</div>
<%= render "form", origin: @origin %>

<br>

<div>
  <button type="button" class="btn btn-outline-success"><%= link_to "Show this origin", @origin %></button> |
  <button type="button" class="btn btn-outline-success"><%= link_to "Back to origins", origins_path %></button>
</div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <%= button_to "Destroy this origin", @origin, method: :delete %>
