<p style="color: green"><%= notice %></p>



<body class="body">

<%= render @origin %>

<div class="botton">
  <button type="button" class="btn btn-outline-success"><%= link_to "Edit this origin", edit_origin_path(@origin) %> </button> |
  <button type="button" class="btn btn-outline-success"><%= link_to "Back to origins", origins_path %> </button>
</div>

</body>
