@import "bootstrap";

.Titre {
  background-color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  border-block: medium dashed #9aa77e;
  display: flex;
  justify-content : center
}

.botton {
  font-size: 15px;
background-color: #9aa77e;
 border-block: medium black ;
 text-align: center;
}
.body{
  background-color: #DAEEB0;
}

.flex{
  display: flex;
  flex-direction : row-reverse;
  justify-content : space-around;
  flex-wrap: wrap;

}

.flex>* {
  flex: 1 1 160px;
  margin: 10px;
}

.card {
  max-height: 300px;
  max-width: 200px;
  margin: 35px;
  border-radius: 10px;
}

.description{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}


.index_botton{
  display: flex;
  flex-direction : row-reverse;
  justify-content : space-around;
  flex-wrap: wrap;
}

h1 {
  color: #2D3125;
}

a{
  text-decoration: none;
  color: #677799;
}
